.overview-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-left: 85px;
    padding-right: 110px;

    color: black;
 }

 .overview-text {
    flex: 1;
   
 }

 .overview-text h1 {
    font-size: 34px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
 }

 .overview-text p {
   text-align: justify;
    font-size: 18px;
    width: 95%;
    margin-bottom: 20px;
    padding-right: 15px;
 }

  .overview-images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .overview-images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }

  .cta-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: rgb(52, 52, 52);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .cta-button:hover {
    background-color: #555;
  }

  .explore-section {
    margin: 40px 0;
    
  }

  .explore-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 125px;
    padding-left: 110px;
    padding-right: 90px;
  }

  .explore-text p {
    font-size: 17px;
    margin-bottom: 20px;
    text-align: justify;
 }

 .explore-textsecond h3{
  
  padding-left: 62px;

}

 .explore-textsecond p{
    font-size: 17px;
    padding-left: 62px;
    text-align: justify;


 }

  .explore-image {
    width: 30%;
    height: auto;
    padding-right: 10px;
    border-radius: 5px;
    
  }

  .explore-imagesecond {
    width: 30%;
    height: auto;
    padding-right: 100px;
    margin-right:40px;
    border-radius: 15px;  
  }

  .explore-text3 h3{
  
   
  
  }

  .explore-image3 {
    width: 30%;
    height: auto;
    padding-right: 10px;
    border-radius: 15px;  
  }

  
   .explore-text3 p{
      font-size: 17px;
      width: 90%;
      text-align: justify;
   }
  

  

  .explore-text {
    width: 55%;
    color: black;
  }

  .explore-textsecond{
    width: 55%;
    color: black;
    padding-right: 110px;
    
  }

  .explore-text h3{
   font-size: 27px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight:bold;
  }

  

  .explore-textsecond h3{
   font-size: 27px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight:bold;
  }

  .explore-text3 h3{
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
   }

  

  .explore-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }


  .explore-textsecond .explore-btn {
    display: inline-block;
    margin-top: 20px;
    margin-left: 62px;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .explore-btn:hover {
    background-color: #555;
  }

  .reverse {
    flex-direction: row-reverse;
    padding-left: 50px;
  }

  .menu-intro {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin-left: 115px;
  margin-right: 115px;
  color: black;
  border: 1px solid #989696;
  border-left: none;
  border-right: none;
  border-bottom: none;
 }

 .intro-cont {
  flex: 1; /* This takes up half the space */
  padding-right: 20px; 
 
  
  
 }

 .intro-cont p {
    font-size: 17px;
   width: 750px;
   }
  

 

 .images-grid img {
  width: 450px;
  
  height: auto;
  object-fit: cover;
 }

 .view-btn {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px; 
  background-color: rgb(52, 52, 52);;
  color: #fff;
  text-decoration: none;
  border-radius: 5px; 
  transition: background-color 0.3s; 
 }

 .view-btn:hover {
  background-color: #555; 
 }

 .view-all-btn-container {
  text-align: center;
 }

 .view-all-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 25px;
  background-color: rgb(52, 52, 52);;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
 }

 .intro-cont h2{
  font-size: 30px;
  text-align: left;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }


 .view-all-btn:hover {
  background-color: #555; 
 }